<div id="home-text-contain">
    <h3>A Fresh Start</h3>
    <p>  
        On March 5th 2021 I graduated from CodeClan's Professional Software
        Development course, and after an intensive 16 weeks of industry focused
        personal development, I am currently looking for my first role within
        the tech industry. <br><br>

        I was driven to change my career from musical instrument retail by 
        a lack of job stimulation and satisfaction. I have always had personal
        interests in physics and technology, and pursued a computer science
        degree at university with the goal of working within the tech industry.
        Due to unforeseen health issues, I did not complete my degree,
        but was fortunate enough to be able to return to my studies through
        CodeClan. <br><br>

        Please feel free to get in touch for any more information using the
        contact details below, and I hope we can work together soon.
    </p>
</div>
