<div id="side-bar">
    
    <h5><b>Languages</b></h5>
    <p>Java, Javascript, Python, SQL, HTML, CSS</p>

    <h5><b>Profile</b></h5>
    <h5>I have worked in musical instrument retail and as a part
    time musician since 2004. I enjoy the many creative aspects
    of coding, but also like to explore the psychological, problem
    solving, and scientific applications.<h5>

    <h5><b>Hobbies</b></h5>
    <h5><b>Music:</b>
    Collaborative musician and multi-instrumentalist.</h5>
    <h5><b>Climbing:</b>
    Technical bouldering and problem solving.</h5>
    <h5><b>Gaming:</b>
    Avid multi-platform gamer across many genres.<h5>

</div>